*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(
        90deg, rgb(72, 52, 196) 0%,
        rgba(100, 115, 255, 1) 100%
    );
}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: black;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px; 
}

h1 {
    margin: 32PX 0;
    color: white;
    font-size: 30px;
}

.complete{
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px ;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg, 
        rgb(111, 12, 169) 0%,
        rgb(41, 58, 208) 100%
    );
    color: #fff;
    text-transform: capitalize;
}


.todo-input.edit {
    border: 2px solid #5d0cff;
}

.todo-button.edit {
    background: linear-gradient(
        90deg, rgb(65, 85, 202) 0%,
        rgb(16, 26, 119) 100%
    );
    border-radius: 6px;
    padding: 16px 22px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
        90deg, 
        rgb(177, 27, 127) 0%,
        rgb(32, 45, 168) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.todo-row:nth-child(4n + 1) {
    background: linear-gradient(
        90deg, rgba(48, 16, 255, 1) 0%,
        rgba(100, 115, 255, 1) 100%
    );
}

.todo-row:nth-child(4n + 2) {
    background: linear-gradient(
        90deg, 
        rgb(165, 29, 165) 0%,
        rgb(44, 43, 44) 100%
    );
}

.todo-row:nth-child(4n + 3) {
    background: linear-gradient(
        90deg, 
        rgb(44, 22, 185) 0%,
        rgb(144, 146, 177) 100%
    );
}

.icons{
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon{
    margin-right: 5px;
    color: #fff;
}

.edit-icon{
    color: #fff;
}



